.testbox{
	background-color: #4DDBAE;
	border: 2px solid black;
	padding: 15px;
	text-align: center;
	margin: 20px auto;
	width: 400px;
}
.cuadro1{
	background-position: left;
	background-color:#4DDBAE;
	border: 2px solid black;
	padding: 15px;
	text-align: center;
	margin: 50px auto;
	width: 700px;
}	
.testbox2{
	background-position: left;
	background-color:#4DDBAE;
	border: 2px solid black;
	padding: 15px;
	text-align: center;
	margin: 50px auto;
	width: 700px;
}	

