.testbox{
background-position: left;
    background-color: #4DDBAE;
    border: 2px solid black;
    padding: 15px;
    text-align: center;
    margin: 50px auto;
    width: 700px;
}
body {
    margin: 0;
    font-family: Calibri;
    background-image: url(../img/fondo.webp);
}
.cuadro1{
    background-color: #4DDBAE;
    border: 2px solid black;
    padding: 15px;
    text-align: center;
    margin: 20px auto;
}   
nav.navmain {
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    background-color: #205C49;
    overflow: hidden;
}

nav.navmain a {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Helvetica';
    font-size: 20px;
    padding: 16px;
}

nav a:hover:not(.active) {
    background-color: rgb(0, 70, 21);
    color: rgb(169, 216, 255);
}

.active:hover {
    background-color: #40a143;
    color: #d6ffd8;
}

.active {
    background-color: #4CAF50;
    color: white;
}

main {
    padding: 0 2vw;
    text-align: center;
}

main h1 {
    display: inline-block;
    color: #369C7C;
    background-color: #4DDBAE;
    border-radius: 30px;
    padding: 1vh 1vw;
}

main section {
    text-align: justify;
    font-size: 24px;
    color: rgb(209, 233, 255);
    background-color: #44C29A;
    border-radius: 30px;
    margin: 4vh 4vw;
    padding: 1vh 3vw 2vh;
}

section h2 {
    margin: auto;
    color: #205C49;
}

section h3 {
    color: #237259;
}

.subimg {
    padding-top: 2vh;
    text-align: center;
}

.subimg img {
    border: 3px solid rgb(174, 246, 255);
    border-radius: 70px;
    max-width: 35vw;
    max-height: 15vh;
    width: auto;
}

.padding1w {
    padding-left: 1vw;
}